@page
@model WebApplicationHotel5.Pages.Admin.Chambre.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChambreClass[0].NomChambre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChambreClass[0].Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChambreClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomChambre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ChambreID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ChambreID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ChambreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
